.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: royalblue; */
  background-image: url('/public/back.jpg');
}

.Menu,
.Quiz,
.EndScreen{

  width:500px;
  height:500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.Menu button,
.Quiz button,
.EndScreen button{

  width:300px;
  height:50px;
  margin:5px;
  border:none;
  border-radius:5px;
  font-size: 20px;
  cursor:pointer;
}

.Menu,
.Quiz,
.EndScreen
{

  color:rgb(122, 11, 11);


}

.options{

  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


@media only screen and (max-width: 600px) {
  .Menu,
  .Quiz,
  .EndScreen {
    width: 80%;
     /* Adjust the width as needed for smaller screens */
  }

  .Menu button,
  .Quiz button,
  .EndScreen button {
    width: 80%; 
    
    /* Adjust the width as needed for smaller screens */
  }
}

